.home-container{
    display:flex;
    
  
    
}

.description{
    flex:1;
    margin-top: 10%;
    
}
.image-container{
    flex:0 0 50%;
}
.card-container{
    margin:60px auto;

}
@media only screen and (max-width: 600px) {
    .home-container{
    flex-direction: column;
    
    }
    .description{
        margin-bottom: 25px;
    }
    
  }

