
.chart-container{
    padding:30px;
    margin:60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.chart-container h3 {
    color:#8884d8;
    margin-left: auto;
    margin-right: auto;

    padding:0;
}
